.span-bold{
    font-weight: 600;
}

.span-bold-parent > a {
    text-decoration: none;
    color: #0176a5;
    font-weight: 600;
}

.span-bold-parent > a:hover{
    text-decoration: underline;
    color: green;
}