.row-container{
    width: 100%;
    max-width: inherit;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.row-container::-webkit-scrollbar {
  display: none;
}

.row{
  width: fit-content;
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  justify-content: flex-start;
  /* overflow-x: auto; */
}

.row-title{
  text-align: left;
}