 .input_date {
    border: 0;
    box-sizing: border-box;
    outline: 0;
    background: transparent;
    position: relative;
    width: 100%;
    /* max-width: 180px; */
    min-width: 150px;
    text-align: center;
    font-size: 1rem;
}

 .input_date::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    margin: 0;
}

.date-container{
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
}